* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.newPostArea {
    flex: 1;
    position: relative;
    bottom: -360px;
    left: 0;
    width: 100%;
    height: 80px; /* Adjust height as needed */
    z-index: 2;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 42px;
  background: #f7f7f7;
}

span {
  margin: 0 15px;
  line-height: 1.7;
  font-size: 40px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: 600px) {
    transform: scale(0.65);
  }
}

.spacious {
  display: inline-flex;
  min-height: 80px;
  max-height: 300px;
  width: 27px;
  border: 2.35px solid black;
  border-radius: 50px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75), inset 0 0 2px rgba(0, 0, 0, 0.45);
  animation: letter 3s forwards;
}

.comments {
  flex: 1;
}

.nobg {
    color: silver;
  background: none;
  border: none;
  outline: none;
  padding: 40px;
  width: 100%;
  max-height: 300px;
  resize: none;
}
.text-sender {
  font-size: 20px;
  height: 200px;
}

@keyframes letter {
  0%, 30% { width: 27px; }
  70%, 100% { width: 100%; }
}
